.pagination {
	@include flex-bc;
	outline: $border #ebebeb;
	max-width: 282px;
	margin: 0 auto;
	margin-top: 48px;
	padding: 12px 16px;

	li button {
		fill: #000;
		transition: $transition fill;

		&:hover {
			fill: $accent-color;
		}
	}

	li a {
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		color: $text-color;
		transition: $transition color;

		&:hover {
			color: $accent-color;
		}
	}

	li a.active {
		color: $accent-color;
		font-weight: 500;
	}
}
